@import "../variables.scss";
@import "input.scss";
@import "result_item.scss";

#titlebar {
  display: none;
}

#navigator-toolbox {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 1;
  width: clamp(400px, 400px + 20vw, 800px);
  max-width: 80%;
}

#nav-bar,
#navigator-toolbox {
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

#navigator-toolbox:not(:focus-within),
#navigator-toolbox:has(#urlbar:not([breakout-extend])) {
  z-index: -1000;
  opacity: 0;
}

#PanelUI-button,
#tracking-protection-icon-container,
#nav-bar-customization-target > :not(#urlbar-container) {
  display: none;
}

#urlbar-container {
  margin: 0 !important;
  padding: 0 !important;
}

#urlbar {
  background-color: transparent;
  border: 1px solid $theme-search-prompt-border;
  border-radius: 14px;
  overflow: hidden;
  padding: 0 10px;
}

#urlbar-background {
  background-color: $theme-search-prompt-background !important;
}

#urlbar-go-button {
  margin-left: 4px;
}

.search-one-offs,
.urlbarView-body-inner {
  border-top: 1px solid $theme-search-prompt-division !important;
}

.urlbarView {
  width: 100% !important;
  margin: 0 !important;
}
