#statuspanel-label {
  padding: 4px 12px !important;
  margin: 8px !important;
  font-size: 14px;
  font-weight: 600;
  color: $theme-link-badge-text !important;
  background-color: $theme-link-badge-background !important;
  border: 1px solid $theme-link-badge-border !important;
  border-radius: 100px !important;
}
