#OtherBookmarks,
#PlacesChevron,
#personal-toolbar-empty-description {
	display: none;
}

#PersonalToolbar {
	max-height: none !important;
	padding: 0 !important;
	background-color: transparent !important;

	&[collapsed="true"] {
		display: none;
	}
}

#PlacesToolbarItems {
	display: grid !important;
	gap: var(--sidebar-padding);
	padding-top: calc(2 * var(--sidebar-padding) + var(--urlbar-container-height));

	&:has(.bookmark-item:nth-child(2)) {
		grid-template-columns: repeat(2, 1fr);
	}

	&:has(.bookmark-item:nth-child(3)) {
		grid-template-columns: repeat(3, 1fr);
	}

	&:has(.bookmark-item:nth-child(4)) {
		grid-template-columns: repeat(4, 1fr);
	}

	.bookmark-item {
		max-width: none !important;
		min-height: var(--urlbar-container-height);
		margin: 0 !important;
		padding: var(--sm) !important;
		background-color: var(--base-100) !important;
		border-radius: var(--lg) !important;
		visibility: visible !important;
		transition: background-color var(--transition);

		&:hover {
			background-color: var(--neutral) !important;
		}

		.toolbarbutton-icon {
			width: calc(2 * var(--md)) !important;
			height: calc(2 * var(--md)) !important;
			margin-inline-end: 0 !important;
		}

		.toolbarbutton-text {
			display: none !important;
		}
	}
}
