#navigator-toolbox {
  --_btn-size: 36px;
}

#alltabs-button {
  display: none;
}

#firefox-view-button,
#new-tab-button,
#save-to-pocket-button,
#unified-extensions-button,
#fxa-toolbar-menu-button {
  position: fixed;
  bottom: var(--sidebar-padding);
  display: block !important;
}

#firefox-view-button {
  left: var(--sidebar-padding);
}

#new-tab-button {
  right: var(--sidebar-padding);
}

#save-to-pocket-button,
#unified-extensions-button {
  transform: translateX(-50%);

  image {
    width: var(--_btn-size) !important;
    height: var(--_btn-size) !important;
  }
}

#save-to-pocket-button {
  left: calc(50% - var(--sidebar-padding) - var(--_btn-size));
}

#unified-extensions-button {
  left: calc(50% + var(--sidebar-padding) + var(--_btn-size));
}

#fxa-toolbar-menu-button {
  width: var(--_btn-size);
  height: var(--_btn-size);
}

#fxa-toolbar-menu-button {
  left: 50%;
  width: var(--_btn-size) !important;
  height: var(--_btn-size) !important;
  transform: translateX(-50%);

  .toolbarbutton-badge-stack {
    width: var(--_btn-size) !important;
    height: var(--_btn-size) !important;
    border-radius: var(--md) !important;
    transition: background-color var(--transition);
  }

  #fxa-avatar-image {
    width: 20px !important;
    height: 20px !important;
  }

  &:hover .toolbarbutton-badge-stack {
    background-color: var(--base-100) !important;
  }

  &[open] .toolbarbutton-badge-stack {
    background-color: var(--neutral) !important;
  }
}
