@import url("./top.css");
@import url("./search-input.css");
@import url("./bookmarks.css");
@import url("./tabs.css");
@import url("./bottom.css");

@property --sidebar-correction {
  syntax: "<number>";
  initial-value: 1;
  inherits: true;
}

#navigator-toolbox {
  --sidebar-correction: 1;
  --sidebar-translate: calc(var(--sidebar-width) + var(--content-padding) / 2);

  position: absolute;
  z-index: 10;
  width: var(--sidebar-width) !important;
  height: calc(100vh - var(--content-padding)) !important;
  padding: var(--sidebar-padding) !important;
  background-color: var(--base-200) !important;
  border: 2px solid var(--neutral) !important;
  border-radius: var(--lg) !important;
  box-shadow: var(--shadow);
  transform: translateY(-50%);
  transition: left 150ms ease-in-out, --sidebar-correction 150ms ease-in-out !important;
  inset: 50vh auto auto calc(-1 * var(--sidebar-width));

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: var(--content-padding);
    height: 100%;
    content: "";
  }

  &::before {
    left: calc(-1 * var(--content-padding));
  }

  &::after {
    right: calc(-1 * var(--content-padding));
  }

  &:has(#toolbar-menubar[inactive]):not(:has(:is(#urlbar[breakout-extend], #main-menubar):hover)):hover {
    --sidebar-correction: 0;

    left: calc(var(--content-padding) / 2);
  }
}

.titlebar-spacer,
#customizableui-special-spring1,
#customizableui-special-spring2,
#scrollbutton-up,
#scrollbutton-down,
spacer {
  display: none;
}
