#urlbar,
#urlbar-container,
#urlbar-input-container {
  --urlbar-height: var(--xl) !important;
  --urlbar-toolbar-height: calc(3.5 * var(--lg)) !important;
  --urlbar-container-height: calc(3.5 * var(--lg)) !important;
}

#urlbar-container:not(:has(#urlbar[breakout-extend])) {
  inset: calc(2 * var(--sidebar-padding) + var(--xxl)) auto auto 0px;
  transform: none;
  width: calc(100% - 2 * var(--sidebar-padding)) !important;

  #urlbar {
    height: var(--urlbar-container-height) !important;
    border: none !important;
    background-color: var(--base-100) !important;
    box-shadow: none;
    padding: 0px var(--md) !important;
    transition: background-color var(--transition) !important;

    &:hover {
      background-color: var(--neutral) !important;
    }
  }

  .identity-box-button,
  #tracking-protection-icon-container,
  .urlbar-page-action {
    width: var(--xl) !important;
    height: var(--xl) !important;
    margin: auto 0;
    padding-inline: 0 !important;
    border-radius: var(--md) !important;
    transition: background-color var(--transition);

    & > * {
      margin: auto !important;
    }

    #identity-icon-label {
      margin: 0 !important;
    }

    #star-button {
      margin-top: -2px !important;
    }

    &:hover {
      background-color: hsl(from var(--neutral) h s calc(l + 10)) !important;
    }
  }

  .urlbar-input-container {
    padding: 0 !important;
    border: none !important;
  }

  .urlbar-input-box {
    font-size: 16px !important;
  }

  &:has(#identity-box.localResource) {
    #urlbar-input {
      text-overflow: ellipsis;
    }
  }

  &:has(#identity-box.chromeUI) {
    #identity-icon-label {
      display: none;
    }
  }
}

#nav-bar:has(#urlbar[breakout-extend]) ~ #PersonalToolbar::before {
  content: "";
  width: calc(100% - 2 * var(--sidebar-padding));
  height: var(--xl);
  position: absolute;
  top: calc(var(--sidebar-padding) + 2rem + var(--sidebar-padding));
  border-radius: var(--lg);
  background-color: var(--base-100);
}

#PersonalToolbar {
  padding: 0 !important;
  max-height: none !important;
  background-color: transparent !important;
}

#PlacesToolbarItems {
  display: grid;
  overflow: visible !important;
  gap: var(--sidebar-padding);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: calc(var(--sidebar-padding) + 3.5rem + var(--sidebar-padding));

  .bookmark-item {
    visibility: visible !important;
    height: 3.5rem;
    margin: 0 !important;
    border-radius: var(--lg) !important;
    background-color: var(--sidebar-element-background-color) !important;
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: var(--sidebar-element-hover-background-color) !important;
    }

    .toolbarbutton-icon {
      width: 1.25rem !important;
      height: 1.25rem !important;
      margin-inline-end: 0 !important;
    }

    .toolbarbutton-text {
      display: none !important;
    }
  }
}

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"][smoothscroll="true"]
  > * {
  flex-direction: column !important;
  gap: var(--sidebar-padding) !important;
  overflow-y: scroll;
}

#navigator-toolbox:has(#PersonalToolbar[collapsed="false"]) {
  &:has(.bookmark-item:nth-last-child(n + 1)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(3.5rem + var(--sidebar-padding));
  }

  &:has(.bookmark-item:nth-last-child(n + 5)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(2 * (3.5rem + var(--sidebar-padding)));
  }

  &:has(.bookmark-item:nth-last-child(n + 9)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(3 * (3.5rem + var(--sidebar-padding)));
  }

  &:has(.bookmark-item:nth-last-child(n + 13)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(4 * (3.5rem + var(--sidebar-padding)));
  }

  &:has(.bookmark-item:nth-last-child(n + 17)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(5 * (3.5rem + var(--sidebar-padding)));
  }

  &:has(.bookmark-item:nth-last-child(n + 21)) #tabbrowser-arrowscrollbox {
    --tabs-top-padding: calc(6 * (3.5rem + var(--sidebar-padding)));
  }
}
