#sidebar-box {
  overflow: hidden;
  border: 2px solid var(--color-stroke) !important;
  border-radius: var(--surface-rounding) !important;
  box-shadow: var(--surface-shadow);

  &[sidebarcommand*="sidebar-action"] > #sidebar-header {
    display: none !important;
  }
}

#sidebar-header {
  border: none !important;
}

:is(#sidebar-switcher-target, #sidebar-close):hover {
  background-color: var(--color-surface-highlight) !important;
}

#sidebar-splitter {
  width: calc(var(--browser-padding) / 2) !important;
  background-color: transparent !important;
  border: none !important;
}
