#titlebar {
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: var(--browser-padding);

  & > *,
  .titlebar-buttonbox {
    display: none;
  }
}

#toolbar-menubar {
  display: block;

  &:not([inactive]) #menubar-items {
    position: absolute;
  }
}

#menubar-items {
  z-index: 10;
  top: calc(var(--browser-padding) + 0.5rem);
  left: calc(var(--browser-padding) + 0.5rem);
}

#main-menubar {
  overflow: hidden;
  display: flex !important;
  border: 2px solid var(--color-stroke) !important;
  border-radius: var(--surface-rounding) !important;
  background-image: none !important;
  background-color: var(--color-surface) !important;
  box-shadow: var(--surface-shadow);
  transition: background-color 100ms ease-in-out;

  menu {
    padding: 0.5rem 1rem !important;
    border: none !important;

    &:hover,
    &[open] {
      background-color: var(--color-surface-highlight) !important;
    }
  }
}
