#toolbar-menubar:not([inactive]) #menubar-items {
  left: calc(
    var(--md) + var(--sidebar-correction) *
      (var(--sidebar-width) + var(--content-padding) / 2)
  );
}

#menubar-items {
  position: absolute;
  top: var(--md);
  left: 200vw;
  z-index: 30;
}

#main-menubar {
  display: flex !important;
  overflow: hidden;
  border: 2px solid var(--neutral) !important;
  border-radius: var(--lg) !important;
  background-image: none !important;
  background-color: var(--base-100) !important;
  box-shadow: var(--shadow);
  transition: background-color var(--transition);

  menu {
    padding: var(--md) var(--lg) !important;
    border: none !important;

    &:hover,
    &[open] {
      background-color: var(--neutral) !important;
    }
  }
}
