#navigator-toolbox {
  --sidebar-element-background-color: rgba(255, 255, 255, 0.15);
  --sidebar-element-hover-background-color: rgba(255, 255, 255, 0.3);

  position: absolute;
  z-index: 10;
  top: calc(50% - 2px);
  left: calc(var(--browser-padding) / 2);
  transform: translateY(-50%);
  width: 300px !important;
  height: calc(100% - var(--browser-padding)) !important;

  border: 2px solid var(--color-stroke) !important;
  border-radius: var(--surface-rounding) !important;
  background-color: var(--color-surface) !important;
  box-shadow: var(--surface-shadow);
  padding: 0.4rem !important;
}

.titlebar-spacer,
#customizableui-special-spring1,
#customizableui-special-spring2,
#OtherBookmarks {
  display: none;
}

#save-to-pocket-button,
#fxa-toolbar-menu-button,
#unified-extensions-button,
#PanelUI-menu-button {
  display: none;
}

#titlebar {
  height: 2rem !important;
}

#PanelUI-menu-button {
  --toolbar-start-end-padding: 2px;
}

#nav-bar {
  position: absolute !important;
  top: 0.4rem;
  right: 0.4rem;
  --toolbar-bgcolor: transparent;
}

.titlebar-button {
  padding: 0.25rem !important;

  image {
    width: 0.95rem !important;
    height: 0.95rem !important;
    background-color: var(--sidebar-element-background-color) !important;
    background-image: none !important;
    transition: background-color 100ms ease-in-out;
  }

  &.titlebar-close:hover image {
    background-color: #f87171 !important;
  }

  &.titlebar-min:hover image {
    background-color: #fcd34d !important;
  }

  &:where(.titlebar-max, .titlebar-restore):hover image {
    background-color: #4ade80 !important;
  }
}

#PersonalToolbar {
  padding: 0 !important;
  max-height: none !important;
}

#nav-bar:has(#urlbar[breakout-extend]) ~ #PersonalToolbar::before {
  content: "";
  width: calc(100% - 0.8rem);
  height: 3.5rem;
  position: absolute;
  top: calc(0.4rem + 2rem + 0.4rem);
  border-radius: var(--surface-rounding);
  background-color: var(--sidebar-element-background-color);
}

#PlacesToolbarItems {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: calc(0.4rem + 3.5rem + 0.4rem);
}

.bookmark-item {
  visibility: visible !important;
  height: 3.5rem;
  margin: 0 !important;
  border-radius: var(--surface-rounding) !important;
  background-color: var(--sidebar-element-background-color) !important;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: var(--sidebar-element-hover-background-color) !important;
  }

  .toolbarbutton-icon {
    width: 1.25rem !important;
    height: 1.25rem !important;
    margin-inline-end: 0 !important;
  }

  .toolbarbutton-text {
    display: none !important;
  }
}

#TabsToolbar-customization-target {
  position: absolute;
  top: 300px;
  left: 0;
  margin: 0 0.4rem;
  width: calc(100% - 0.8rem);
}
