#navigator-toolbox {
  --sidebar-element-background-color: rgba(255, 255, 255, 0.15);
  --sidebar-element-hover-background-color: rgba(255, 255, 255, 0.3);
  --sidebar-padding: 0.4rem;
  --sidebar-height: 300px;

  position: absolute;
  z-index: 10;
  top: calc(50% - 2px);
  left: calc(var(--browser-padding) / 2);
  transform: translateY(-50%);
  width: var(--sidebar-height) !important;
  height: calc(100% - var(--browser-padding)) !important;

  border: 2px solid var(--color-stroke) !important;
  border-radius: var(--surface-rounding) !important;
  background-color: var(--color-surface) !important;
  box-shadow: var(--surface-shadow);
  padding: var(--sidebar-padding) !important;
}

.titlebar-spacer,
#customizableui-special-spring1,
#customizableui-special-spring2,
#OtherBookmarks {
  display: none;
}

/* TODO: temporary */
#save-to-pocket-button,
#fxa-toolbar-menu-button,
#unified-extensions-button,
#PanelUI-menu-button,
#alltabs-button {
  display: none;
}

#titlebar {
  height: 2rem !important;
}

#PanelUI-menu-button {
  --toolbar-start-end-padding: 2px;
}

#nav-bar {
  position: absolute !important;
  top: var(--sidebar-padding);
  right: var(--sidebar-padding);
  --toolbar-bgcolor: transparent;
}

.titlebar-button {
  padding: 0.25rem !important;

  image {
    width: 0.95rem !important;
    height: 0.95rem !important;
    background-color: var(--sidebar-element-background-color) !important;
    background-image: none !important;
    transition: background-color 100ms ease-in-out;
  }

  &.titlebar-close:hover image {
    background-color: #f87171 !important;
  }

  &.titlebar-min:hover image {
    background-color: #fcd34d !important;
  }

  &:where(.titlebar-max, .titlebar-restore):hover image {
    background-color: #4ade80 !important;
  }
}

#PersonalToolbar {
  padding: 0 !important;
  max-height: none !important;
}

#nav-bar:has(#urlbar[breakout-extend]) ~ #PersonalToolbar::before {
  content: "";
  width: calc(100% - 0.8rem);
  height: 3.5rem;
  position: absolute;
  top: calc(var(--sidebar-padding) + 2rem + var(--sidebar-padding));
  border-radius: var(--surface-rounding);
  background-color: var(--sidebar-element-background-color);
}

#PlacesToolbarItems {
  display: grid;
  overflow: visible !important;
  gap: var(--sidebar-padding);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: calc(var(--sidebar-padding) + 3.5rem + var(--sidebar-padding));

  .bookmark-item {
    visibility: visible !important;
    height: 3.5rem;
    margin: 0 !important;
    border-radius: var(--surface-rounding) !important;
    background-color: var(--sidebar-element-background-color) !important;
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: var(
        --sidebar-element-hover-background-color
      ) !important;
    }

    .toolbarbutton-icon {
      width: 1.25rem !important;
      height: 1.25rem !important;
      margin-inline-end: 0 !important;
    }

    .toolbarbutton-text {
      display: none !important;
    }
  }
}

#tabbrowser-arrowscrollbox {
  position: absolute;
  top: 400px;
  right: 0;
  width: calc(var(--sidebar-height) - 1.05rem) !important;
  height: 200px;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  border-inline-start: none !important;
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;

  .tabbrowser-tab {
    height: 3.5rem;
  }
}

#firefox-view-button {
  position: absolute;
  bottom: var(--sidebar-padding);
  left: var(--sidebar-padding);
}

#new-tab-button {
  position: absolute;
  bottom: var(--sidebar-padding);
  right: var(--sidebar-padding);
}
