screenshots-buttons {
  position: fixed !important;
  top: calc(var(--content-padding) + 0.5rem) !important;
  right: calc(var(--content-padding) + 0.5rem) !important;
  border: 2px solid var(--neutral) !important;
  border-radius: var(--lg) !important;
  background-color: var(--base-100) !important;
  box-shadow: var(--shadow);
  padding: 0.5rem !important;
}

#visible-page,
#full-page {
  width: 7.5rem;
  height: 6rem;
  border-radius: calc(var(--lg) - 0.5rem) !important;
  background-color: var(--base-100) !important;
  color: var(--base-content) !important;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: var(--base-100-highlight) !important;
  }

  padding-bottom: 0 !important;
}

#full-page {
  margin-left: 0.5rem !important;
}
