#urlbar-container:not(:has(#urlbar[breakout-extend])) {
  width: calc(100% - 0.8rem) !important;
  margin: 0 var(--sidebar-padding) !important;
  transform: none;
  top: calc(2 * var(--sidebar-padding) + 2rem);
  left: 0;

  #urlbar {
    height: 3.5rem !important;
    border: none !important;
    background-color: var(--sidebar-element-background-color) !important;
    box-shadow: none;
    transition: background-color 100ms ease-in-out !important;

    &:hover {
      background-color: var(
        --sidebar-element-hover-background-color
      ) !important;
    }
  }

  .identity-box-button,
  #tracking-protection-icon-container {
    width: 1.8rem;
    height: 1.8rem;
    margin: auto 0;

    image {
      margin: auto !important;
    }
  }

  .urlbar-go-button {
    display: none;
  }

  .urlbar-input-container {
    padding: 0 !important;
    border: none !important;
  }

  #identity-box {
    margin-right: 0.5rem !important;
  }

  .urlbar-input-box {
    font-size: 16px !important;
  }

  #urlbar-input {
    text-overflow: ellipsis;
  }
}

#urlbar,
#urlbar-container,
#urlbar-input-container {
  --urlbar-height: 2rem !important;
  --urlbar-toolbar-height: 3.5rem !important;
  --urlbar-container-height: 3.5rem !important;
}

#urlbar {
  transition: none !important;
  border: 2px solid var(--color-stroke) !important;
  border-radius: var(--surface-rounding) !important;
  background-color: var(--color-surface) !important;
  box-shadow: var(--surface-shadow);
  padding: 0.2rem !important;
}

#urlbar-background {
  border: none !important;
  border-radius: calc(var(--surface-rounding) - 2px) !important;
  background-color: transparent !important;
}

#urlbar-container {
  position: fixed !important;
  z-index: 10;
  top: 28vh;
  left: 50vw;
  transform: translateX(-50%);
  width: clamp(35rem, 35rem + 35vw, 46rem) !important;
}

#urlbar-go-button {
  margin: auto 0;
}

.urlbar-input-box {
  font-size: 18px !important;
  font-weight: 600;
}

#urlbar-results {
  display: flex !important;
  flex-direction: column;
  gap: 0.2rem;
}

.urlbarView-body-inner,
.search-one-offs {
  border: none !important;
}

.urlbarView-body-outer {
  border-top: 2px solid var(--color-stroke);
  border-bottom: 2px solid var(--color-stroke);
}

.urlbarView-row {
  height: 3.5rem !important;
  transition: background-color 100ms ease-in-out;
  border-radius: var(--surface-rounding) !important;

  &[selected],
  &:hover {
    background-color: var(--color-surface-highlight) !important;
  }
}

.searchbar-engine-one-off-item[selected] {
  background-color: var(--color-surface-highlight) !important;
}

.search-one-offs {
  height: 3.5rem !important;

  & > * {
    margin: auto 0 !important;
  }
}
