#urlbar-container {
  position: fixed !important;
  z-index: 10;
  top: 28vh;
  left: calc(
    50vw -
    var(--content-padding) +
    var(--sidebar-correction) *
    (var(--sidebar-width) + var(--content-padding) / 2) -
    var(--content-padding) /
    2
  );
  transform: translateX(-50%);
  width: clamp(35rem, 35rem + 35vw, 46rem) !important;
}

#urlbar {
  transition: none !important;
  border: 2px solid var(--neutral) !important;
  border-radius: var(--lg) !important;
  background-color: var(--base-100) !important;
  box-shadow: var(--shadow);
  padding: 0.2rem !important;
}

#urlbar-background {
  border: none !important;
  border-radius: calc(var(--lg) - 2px) !important;
  background-color: transparent !important;
}

#urlbar-search-mode-indicator {
  height: var(--xl);
  margin: auto 0;
  background-color: var(--neutral) !important;
  border-radius: var(--md) !important;
}

.urlbar-icon {
  margin: auto 0;
}

.urlbar-input-box {
  font-size: 18px !important;
  font-weight: 600;
}

#urlbar-results {
  display: flex !important;
  flex-direction: column;
  gap: 0.2rem;
}

.urlbarView-body-inner,
.search-one-offs {
  border: none !important;
}

.urlbarView-body-outer {
  border-top: 2px solid var(--neutral);
  border-bottom: 2px solid var(--neutral);
}

.urlbarView-row {
  height: 3.5rem !important;
  transition: background-color 100ms ease-in-out;
  border-radius: var(--lg) !important;

  &[selected],
  &:hover {
    background-color: var(--base-100-highlight) !important;
  }
}

.searchbar-engine-one-off-item[selected] {
  background-color: var(--base-100-highlight) !important;
}

.search-one-offs {
  height: 3.5rem !important;

  & > * {
    margin: auto 0 !important;
  }
}
