@import "./variables.css";
@import "./components/index.css";

:root {
  --content-padding: var(--md);

  font-size: 16px !important;

  &[inFullscreen] {
    --content-padding: 0px;

    & #appcontent {
      border: none;
      border-radius: 0px;
    }
  }
}

#browser {
  padding: var(--content-padding);
  background-color: var(--base-100) !important;
}

#appcontent {
  overflow: hidden;
  border-radius: var(--lg);
  border: 1px solid var(--base-200);
  box-shadow: var(--shadow);
}
