@import "./variables.css";
@import "./components/index.css";

:root {
  font-size: 16px !important;

  &[inFullscreen] {
    --browser-padding: 0px;

    & #appcontent {
      border: none;
      border-radius: 0px;
    }
  }
}

#browser {
  padding: var(--browser-padding);
  background-color: var(--color-surface) !important;
}

#appcontent {
  overflow: hidden;
  border-radius: var(--surface-rounding);
  border: 1px solid var(--color-surface);
  box-shadow: var(--surface-shadow);
}
