@import "variables.scss";
@import "search_prompt";
@import "link_badge";

#browser {
  --default-padding: 8px;
  overflow: hidden;
  padding: var(--default-padding);
  background-color: $theme-browser-background !important;
  border: 1px solid $theme-browser-border;
  border-radius: 12px;
}

#appcontent {
  overflow: hidden;
  border-radius: 7px / 5px;
}

#sidebar-box {
  min-width: 250px !important;
  max-width: 500px !important;
  background-color: $theme-browser-background !important;
}

#sidebar-header {
  border-bottom: none !important;
}

#sidebar-splitter {
  width: var(--default-padding) !important;
  background-color: $theme-browser-background !important;
  border: none !important;
}
